*{
    margin: 0;
    padding: 0;
}

.header
{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,00,0.6)),url(Pictures/AISStaff-contact.png);
    background-position: center;
    background-size:contain;
    position: relative;
}

nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: top;
}

nav img
{
    width: 200px;
}

.nav-links
{
    flex: 1;
    text-align: right;
    transform: translateY(0%)
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
    transform: translate(0,-150px);
}
.nav-links ul li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}

.container
{
    font-size: 25px;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding: 5px;
}

.container
{
    color: white;
    text-shadow: 3px 3px 3px rgb(0,0,0);
}

.container p
{
    padding-bottom: 10px;
}
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    color: gainsboro;
    border: 1px solid #000;
    background: #000;
    transition: 1s;
}

.row
{
    padding-bottom: 30px;
}
.row img
{
    width: 80vh;
    margin: auto;
    display: flex;
    transition: 1s;
}
.row img:hover
{
    width: 100vh;
}


@media(max-width: 700px)
{
    .container
    {
        position:relative;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    nav img
    {
        transform: translateX(-20%);
    }
    .nav-links ul li
    {
        display: block;
        transform: translate(0,0);
    }
    .nav-links
    {
        position: absolute;
        background: grey;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa
    {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .fa.fa-bars
    {
        transform: translate(85%,-150px);
        display:block;
        color: white;
        top: 0;
        right: 0;
        margin: 1px;
        font-size: 25px;
        cursor: pointer;
    }
    .row img
    {
        transform: translateX(-20%);
        width: 300px;
        height: 200px;
    }
    .row img:hover
    {
        width: 400px;
        height: 300px;
    }
    .badge
    {
        height: 50px;
    }
    .Location-h1
    {
        transform: translate(-24%, 20%);
        width: 430px;
    }

}

.container1
{
    background-color: rgba(225,225,225,1);
    padding-top: 30px;
    padding-left: 60px;
}
.container1 img
{
    box-shadow: 6px 6px 6px rgba(50,50,50,.6);

}
.container1.column
{
    display: inline-block;
}
.badge
{
    height: 50px;
    width: 160px;
    display: block;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,00,0.1)),url(Pictures/BlackAndWhite.jpg);
    background-size: cover;
}
a.gps
{
    color: white;
    font-size: 20px;
    transition: 1s;
}
.Location-h1
{
    text-decoration-line: underline;
    text-decoration-style:solid;
    text-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 2px blue;
    background: transparent;
}
.row2
{
    padding-top: 20px;
    height: 60%;
    width: 80v;
    background-color: black;
    display: block;
}
#instagram
{
    height: 200px;
    width: 200px;
}
#linkedin
{
    height: 150px;
    width: 150px;
    border-radius: 30px;
}
.insta
{
    color: white;
    text-align: left;
}
.container2 h2
{
    color: azure;
    text-align: center;
}





