*
{
    margin: 0;
    padding: 0;
}

.header
{
    background: rgba(230,230,230,1);
}

nav
{
    display: flex;
    padding: 10% 6%;
    justify-content:space-between;
    align-items:top;
}
nav img
{
    width: 150px;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: top;
    background:  linear-gradient(rgba(100,100,100,0.5), rgba(0,0,0,0.8));
    box-shadow: 3px 3px 3px black
}

.nav-links
{
    flex: 1;
    text-align: right;
    transform: translateY(-200%)
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
    background-color: rgba(30,30,30,.2)
}
.nav-links ul li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 30px
}

.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}

nav .fa
{
    display: none;
}

.column img
{
    width: 800px;
    height: 700px;
    transform: translate(-50%);
    padding: 30px;
}

@media(max-width: 700px)
{
    .nav-links ul li
    {
        display: block;
    }
    .nav-links ul
    {
        transform: translate(15%, -45%);
        position: absolute;
        background-color: rgba(30,30,30,1);
        height: 45vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa
    {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    ,nav-links ul li
    {
        padding: 30px;
    }
}




















